html{
    min-height: 100vh;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    

    background: linear-gradient(135deg, #109abd, #05052e);

}
button{
    transition: 100ms;

    transform: scale(1);  /* Aumenta o tamanho */        }
button:hover{
    transition: 100ms;
    transform: scale(1.1);  /* Aumenta o tamanho */        }

#course-list{
    display: none;
}

#nameInput{
    display: none;
}

.container{
    background-color: white;

}

.popup, .popup2 {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 27px #00000099;
    border-radius: 8px;
    text-align: center;
    transition: top 0.4s ease-in-out;
  }
  
  .notificacoes{
  
    left: 10px;
    bottom: 101%;
    top: auto;
    transform: translateY(60px);
    border-radius: 0px 0px 8px 8px;
    width: 100%;
    max-width: 123px;
    transition: top 2s ease-in-out;
  }
  
  .notificacoes div{
    max-height: 90vh; /* Evita que ultrapasse a altura da tela */
    overflow: auto;
  }

  .popup input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 0.5px solid #212121;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .popup button {
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
  }
  
  
  #not{
    top: 6px;
    width: 10px;
    height: 9px;
    background-color: red;
    display: block;
    position: absolute;
    right: 1px;
    border-radius: 9px;
  }
  
  .popup.active {
    top: 50%;
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
  }
  
  #cargos{
    display: none;
  }
  #Cursos{
    display: none;
  }