<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <script src="{{ url_for('static', filename='dataFunctions.js') }}"></script>
    <script src="{{ url_for('static', filename='interactionFunctions.js') }}"></script>

    
    <style>
        #admins {
  /*list-style-type: none; /* Remove os bullets */
  padding: 0; /* Remove o padding */
  display: flex; /* Alinha os <li> horizontalmente */
  flex-wrap: wrap; /* Permite quebrar linha se necessário */
}

ul li {
  margin-right: 10px; /* Espaço entre os itens */

  font-size: 13px;
  list-style-type: none;

}

ul li:after {
  content: ","; /* Adiciona uma vírgula após cada item */
}

ul li:last-child:after {
  content: ""; /* Remove a vírgula do último item */
}
.onlyAdmins{
    display: none;
}

h2>.onlyAdmins{
    font-size: 13px;
    font-weight: normal;
    color: #007bff;
    cursor: pointer;
}

h2>.negative{
    color: red;
}

       
    </style>
</head>
<body>

<div class="container">
    <h1>Dashboard</h1>
    <div>
    <p id="userData">Bem-vindo, 
        <span class="editable">
            <span id="userName">Carregando...</span>
            <input type="text" id="nameInput">
            <a id="editButton" style="position: absolute;">✏️</a>
        </span>
        <br>
        Seu cargo: 
        <span id="userCargo">Carregando...</span>
        <div id="adcionarLic"></div>
        

    </p>
    
    </div>
    <button id="" class="positive" onclick="window.location.href='/'">Voltar</button>
    <button class="negative" onclick="logout()">Sair</button>
</div>


    <div class="hidenItems infos" id="cargos">
        <h1>Cargos <span onclick="toggleSection('cargos')">mostrar</span></h1>
        <div id="loadingContainer1">
            <div class="spinner"></div>
            <p id="loadingMessage">Carregando...</p>
        </div>
        <h2 id="administradoresTitle">Administradores</h2>
        <ul id="admins"></ul>

        <h2 id = "professoresTitle">Professores<span class="onlyAdmins" onclick="abrirPopup('adicionar','professor')"> Adicionar</span>
            <span class="onlyAdmins negative" onclick="abrirPopup('deletar','professor')"> Deletar</span>
        
        </h2>
        <ul id="professores"></ul>

        <h2 id= "coordenadoresTitle">Coordenadores<span class="onlyAdmins" onclick="abrirPopup('adicionar','coordenador')"> Adicionar</span>
            <span class="onlyAdmins negative" onclick="abrirPopup('deletar','coordenador')"> Deletar</span>
        </h2>
        <ul id="coordenadores"></ul>

        <h2 id= "usuariosTitle">Usuários: (somente leitura)<span class="onlyAdmins" onclick="abrirPopup('adicionar','user')"> Adicionar</span>
            <span class="onlyAdmins negative" onclick="abrirPopup('deletar','user')"> Deletar</span>
        </h2>
        <ul id="usuarios"></ul>
    </div>

    <div id="popup" class="popup">
            <h3 id="nomePopup">Adicionar Nome</h3>
            <div id="inputs">
                <input type="text" id="nomeInput" placeholder="Digite o nome">

            </div>
            <button id="adicionarNome" class="positive" onclick="adicionarNome()">Adicionar</button>
            <button id="deletarNome" class="negative" onclick="deletarNome()">Deletar</button>
            <button id="adicionarMateria" class="positive" onclick="adicionarMateria(cursoAtual)">Adicionar</button>
            <button id="deletarMateria" class="negative" onclick="deletarMateria(cursoAtual)">Deletar</button>
    </div>

    <div class="hidenItems infos divCursos" id="Cursos">
        <h1 id="cursosEDisciplinas">Cursos e disciplinas <span onclick="toggleSection('Cursos')">mostrar</span><br>
            


        </h1>

        <div id="cursos">
            <div id="loadingContainer2">
                <div class="spinner"></div>
                <p id="loadingMessage">Carregando...</p>
            </div>
        </div>
       
    </div>
  



<script>
    let userId = getCookie("userId");

    window.onload = function() {
        if (!userId) {
            window.alert("Você precisa estar logado!");
            console.log('vc nçao esta autenticado')
            window.location.href = "/";
            return;
        }

        //função basica de usuario
        fetchUserData(userId).then(userData => {
            cargo = userData.cargo
            if(cargo == 'admin'){
                document.getElementById("Cursos").style.display = 'block'
                fetchAllCurses()
            }
            
            updateUserDataInDashboard(userData);
           
        })
        .catch(error => {
            alert("Erro ao carregar dados do usuário.");
        });


        //buscar todos usuarios
        fetchAllUserData(userId).then(usersData => {
            renderCargos(usersData);
            console.log(usersData)
        })
        .catch(error => {
            alert("Erro ao carregar dados dos usuários.");
        });

        




        
   
    }

    function toggleSection(id) {
        var element = document.getElementById(id);
        element.classList.toggle('hidenItems');
        element.classList.toggle('showedItems');
    }




    
    document.getElementById("editButton").addEventListener("click", function() {
        let nameSpan = document.getElementById("userName");
        let nameInput = document.getElementById("nameInput");

        nameInput.value = nameSpan.innerText;
        nameSpan.style.display = "none";
        nameInput.style.display = "inline";
        nameInput.focus();
    });

    document.getElementById("nameInput").addEventListener("blur", updateName);
    document.getElementById("nameInput").addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            updateName();
        }
    });

    function updateName() {
        let nameSpan = document.getElementById("userName");
        let nameInput = document.getElementById("nameInput");
        let newName = nameInput.value.trim();

        if (!newName || newName === nameSpan.innerText) {
            nameSpan.style.display = "inline";
            nameInput.style.display = "none";
            return;
        }

        fetch(`/editname`, {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ nome: newName, userId })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                nameSpan.innerText = newName;
            } else {
                alert("Erro ao atualizar nome.");
            }
        })
        .catch(error => console.error("Erro na atualização:", error))
        .finally(() => {
            nameSpan.style.display = "inline";
            nameInput.style.display = "none";
        });
    }


        document.addEventListener("click", function(event) {
            let popup = document.getElementById("popup");
            if (!popup.contains(event.target) && !event.target.classList.contains("onlyAdmins")) {
                fecharPopup();
            }
        });



    function logout() {
        eraseCookie("userId");
        alert("Você saiu!");
        window.location.href = "/";
    }

    function getCookie(name) {
        let nameEQ = name + "=";
        let ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i].trim();
            if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    function eraseCookie(name) {
        document.cookie = name + "=; Max-Age=-99999999; path=/";
    }
</script>
</body>
</html>
